.todo-list-container {
	margin-top: 10px;
	background-color: #3734bd;
	color: white;
	display: flex;
	flex-direction: column;
}

.todo-list-title {
	color: white;
	padding: 10px 10px 0px 10px;
}

.todo-list-items {
	display: flex;
	flex-direction: column;
}
