body {
	background-color: #ff7e07;
	min-height: 100vh;
}

.App {
	margin: 0px 100px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

/* button {
	width: fit-content;
	margin: 5px auto;
} */
